node_modules
.DS_STORE

# Hardhat files
/hardhat-cache
/hardhat-artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

.vscode

# Ignore all .env files except .env.example
.env*
!.env.example

*.log

# Foundry files
/target
forge-artifacts
forge-cache
out.json
bloat*